*{
    margin: 0;
    padding: 0;
    font-size: 1.5em;
    font-family: "Zalando Sans Expanded", sans-serif;
}

.navegacao{
    width: 100%;
    display: inline-block;
    font-size: 1.2em;
    height: fit-content;
}

.menu{
    width: 100%;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    height: fit-content;
}

.menu{
    list-style-type: none;
    height: fit-content;
    background-color: whitesmoke;
}

.menu a{
    height: 100px;
    background-color: whitesmoke;
    font-size: 0.3em;

}

.menu a li{
    font-size: 0.3em;
    list-style-type: none;
    text-decoration: none;
    color: black;
    display: inline-block;
}

.principal{
    height: 3000px;
    width: 100%;
    background-image: url(imagens/imagem.jpg);
}