*{
    margin: 0;
    padding: 0;
    font-size: 1.5em;
    font-family: "Zalando Sans Expanded", sans-serif;
}

.navegacao{
    width: 100%;
    display: inline-block;
    font-size: 1.2em;
    height: fit-content;
}

.menu{
    width: 100%;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    height: fit-content;
}

.menu ul{
    list-style-type: none;
    height: fit-content;
    background-color: whitesmoke;
}

.menu li{
    height: fit-content;
}

.menu li a{
    font-size: 0.3em;
    list-style-type: none;
    text-decoration: none;
    color: black;
    height: fit-content;
}